@color: #eee;
/*抽屉相关*/
.headerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  padding: 16px;
  border-bottom: 1px solid rgb(128 128 128 / 30%);
  background-size: cover;
  background-position: center;
  // margin: 10px;
  height: 160px;
  // border-radius: 10px;
  span {
    margin: 20px 0 0 0;
  }
  img {
    width: 50px;
    height: 50px;
    
  }
}
.swtoc {
  display: flex;
  justify-content: center;
  // align-items: center;
  padding: 20px 10px 10px 10px;
  .swtocl {
    padding: 5px 20px 5px 20px;
    border: 1px solid @color;
    border-radius: 50px 0 0 50px;
    cursor: pointer;
  }
  .swtocr {
    padding: 5px 20px 5px 20px;
    border-top: 1px solid @color;
    border-bottom: 1px solid @color;
    border-right: 1px solid @color;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
  }
}

.drawTitle {
  color: #fff;
  text-shadow: #f5f8fa 0px 0px 14px;
  font-size: 20px;
}

aside.mdui-drawer {
  margin: 0px;
  background-color: #fff;
}
.mdui-list-item {
  margin: 0 10px 0 10px;
  border-radius: 4px;
  &:hover {
    background-color: rgb(0 0 0 / 4%);
  }
}
.toc-content {
  display: none;
  margin: 10px;
  a {
    text-decoration: none;
  }
  >.toc-list { 
  overflow: hidden;
  position: relative;
  }
  .is-active-link {
    color: var(--fontColor);
  }
  .toc-list-item {
    line-height: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .is-active-link::before {
    background-color: var(--fontColor) !important;
  }
}

/*抽屉相关结束*/
