:root {
    --bttextcolor: #000000;
    --background-color-button: transparent;
    
}

/*锚点偏移*/
h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
    display: block;
    content: " ";
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
}

/*网络字体*/
@font-face {
    font-family: 'icomoon';
    src:  url('../icons/icomoon/icomoon.eot?kg04oy');
    src:  url('../icons/icomoon/icomoon.eot?kg04oy#iefix') format('embedded-opentype'),
      url('../icons/icomoon/icomoon.ttf?kg04oy') format('truetype'),
      url('../icons/icomoon/icomoon.woff?kg04oy') format('woff'),
      url('../icons/icomoon/icomoon.svg?kg04oy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-folder-open-o:before {
    content: "\f115";
  }
  .icon-github:before {
    content: "\e900";
  }
  .icon-mail:before {
    content: "\e901";
  }
/*网络字体结束*/
/*重写滚动条*/
body::-webkit-scrollbar {
	width:8px;
	height:8px;
	background:transparent;
	-webkit-box-shadow:inset 2px 0 2px 0 rgba(0,0,0,.25);
	box-shadow:inset 2px 0 2px 0 rgba(0,0,0,.25)
}
body::-webkit-scrollbar-thumb {
	background:rgba(0,0,0,.2)
}
body { /*修复抽屉打开时自增宽度*/
    width: auto !important;
    padding-top: 70px;
}

.self-container {
    max-width: 1000px;/*窗口最大时的容器固定宽度*/
}

/*自适应搜索框*/
.mobile :not(form,form input,.i1,i) {
    display: none;
}
.mobile a:nth-child(1),.mobile a:nth-child(2),.mobile div:nth-child(1) { /*兼容微信浏览*/
    display: none;
}
.mdui-toolbar form {
    width: 100%;
    border-radius: 25px;
    background-color: white;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;
    opacity: .1;
}
.mdui-toolbar form input {
    width: calc(100% - 28px);
    border: 0;
    height: 100%;
    outline: none;
    
}
.i1:hover {
    background-color: transparent !important;
}

@media (min-width: 1024px) {
    .mdui-drawer { /*桌面端时抽屉高度*/
        top: 64px;
    }
    .headerLogo {
        display: none !important;
    }
    .mdui-toolbar form {
        opacity: 1 !important;
        width: 20%; /*最大窗口时改变宽度*/
        display: flex !important; /*修复手机端关闭搜索框时导致桌面端不显示*/
    }
    .i1 {
        display: none;
    }
    .mobile :not(form,form input,.i1,i) {
        display: initial;
    }
    .mobile a:nth-child(1),.mobile a:nth-child(2),.mobile div:nth-child(1) {
        display: initial;
    }
}
@media (max-width: 1024px) {
    .mdui-toolbar form {
        display: none;
        
    }    
    
}
/*自适应搜索框结束*/

/*抽屉相关*/
.headerLogo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid rgb(128 128 128 / 30%);
}
.headerLogo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
/*抽屉相关结束*/

/*主体结构区*/
.mdui-card {
    border-radius: 10px !important;
}
@media (max-width: 1023px) {
    .mdui-container {
        padding: 0;
    }
}
.index-cover .mdui-card-content {
    padding: 0;
    font-size: 17px !important;
    
}
.index-cover .mdui-card-primary {
    display: flex;
    align-items: center;
}
.self-container { /*主体双栏布局*/
    display: flex;
}

.containerLeft>* {
    margin-bottom: 20px;
}
.containerLeft {
    width: 60%;
    flex-grow: 1;
}
.indexImg { /*镇站图*/
    height: 176px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.containerRight {
    width: 30%;
    margin: 0 0 20px 0;
    padding-left: 20px;

}
.sticky { /*粘性布局，固定主体右边栏*/
    position: sticky;
    top: -220px;
}
@media (min-width: 800px) {
    .mdui-toolbar form {
        opacity: 1 !important;
        width: 20%; /*最大窗口时改变宽度*/
        display: flex !important; /*修复手机端关闭搜索框时导致桌面端不显示*/
    }
    .i1 {
        display: none;
    }
    .mobile :not(form,form input,.i1,i) {
        display: initial;
    }
    .mobile a:nth-child(1),.mobile a:nth-child(2),.mobile div:nth-child(1) {
        display: initial;
    }
}
@media (max-width: 800px) {
    .containerRight {
        display: none;
    }  
    .containerLeft {
        width: 100%;
    }
    
}
/*主体结构区结束*/

/*文章卡片*/
.selfLayout {
    display: flex;
    justify-content: space-between;
}
.left .mdui-card-primary {
    padding: 16px !important;
}
.left .mdui-card-content {
    padding: 0 16px 16px 16px !important;
}
.right {
    padding: 40px 16px 16px 0;
}
.right img {
    width: 110px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.postBottom {
    display: flex;
    justify-content: space-between;
    padding: 0 16px 16px 16px;
}
article a {
    text-decoration: none;
}
@media (min-width: 1024px) {
    .right img {
        width: 130px !important;
        height: 110px !important;
    }
}
/*文章卡片结束*/


/*文章页*/
.postBackground {
    height: 220px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.post .mdui-card-primary-title {
    word-break: break-all;
}
.postFront {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pleft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pleft img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.pleft div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#id {
    display: none !important;
}

.comments,.pbottom,.noimg {
    padding: 16px;
}
.nextPost {
    display: flex;
    justify-content: space-between;
}
/*代码高亮样式*/
.mdui-typo pre {
    background-color: #f6f8fa !important;
}
.line-numbers .line-numbers-rows {
    border-right: 1px solid rgb(153 153 153 / 28%) !important;
}
/*侧边栏*/
.sticky>.mdui-card {
    margin-bottom: 20px;
    padding: 16px;
}
.sticky .mdui-typo-title {
    margin-bottom: 10px;
}
.sticky a {
    text-decoration: none;
}
.postSticky {
    top: -220px;
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.profile img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
.pcontact {
    display: flex;
    margin-bottom: 20px;
}
.pcontact a {
    margin: 0 5px 0 5px;
}
.profileinner {
    padding: 20px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.profileinner div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.profileinner span:nth-child(1) {
    margin-bottom: 10px;
}
.pindex {
    max-height: calc(100vh - 155px);
    overflow-y: auto !important; 
}
.pindex ol {
    list-style: none;
}

.pindex >.toc-list {
    position: relative;
    overflow: hidden;
}
.scrollbar {
    max-height: 150px;
    overflow-y: auto;
}
.is-active-link::before {
    background-color: var(--bttextcolor) !important;
}

/*nextpage*/
.nextpage.mdui-card {
    height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nextpage a,
.nextPost a {
    color: black;
}

.nextpage .mdui-btn:hover,
.nextPost .mdui-btn:hover {
    color: var(--bttextcolor);
    background-color: var(--background-color-button) !important;
}
.nextPost .mdui-btn {
    border: 1px solid var(--background-color-button);
}
/* .nextpage {
    box-shadow: none !important;
} */

/*页脚*/
footer {
    padding: 16px 0 16px 0;
    background-color: #f9f9f9;
}
.innerfooter {
    display: flex;
    flex-direction: column;
    
}
.innerfooter>div {
    margin-bottom: 10px;
}
footer a {
    text-decoration: none;
    color: var(--bttextcolor);
}

/*归档*/
.archives {
    padding: 16px;
}
.archiveyear {
    margin: 20px 0 20px 0;
    font-size: 30px;
}
.focircle {
    display: flex;
    height: auto;
    padding: 10px 0 10px 20px;
    line-height: 1.5;
}
.focircle time {
    flex-shrink: 0;
    margin: 0 20px 0 20px;
    color: rgb(16 22 26 / 57%);
}
.focircle span {
    color: rgb(0 0 0 / 73%);
}

.focircle::before {
    content: '';
    width: 12px;
    height: 12px;
    margin-top: 5px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    flex-shrink: 0;
    background-color: var(--bttextcolor);
    opacity: .7;
    transform: scale(0.5);
    /* -webkit-transform: scale(0.5); */
    -khtml-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    -khtml-transition: all 0.28s ease;
    -moz-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
    -ms-transition: all 0.28s ease;
}

/*line*/
.timenode {
    position: relative;
}
.timenode::before,
.timenode::after {
    content: '';
    width: 2px;
    height: 10px;
    background-color: var(--background-color-button);
    position: absolute;
    left: 25px;
}
.timenode::after {
    top: 32px;
    height: calc(100% - 32px);
}
.timenode:hover .focircle::before {
    background-color: var(--bttextcolor);
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
.timenode:hover .focircle span {
    color: var(--bttextcolor);
}
/*归档结束*/

/*分类*/
.categories {
    padding: 16px;
}
.pagetitle {
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(68 68 68 / 10%);
    margin-bottom: 20px;
}
.categories ul {
    padding-left: 0;
    list-style: none;
}
.catelist {
    display: flex;
    align-items: center;
    line-height: 40px;
}
.catelist i {
    color: rgb(0 0 0 / 73%);
    opacity: .6;
    margin: 0 20px 0 20px;
}
.catelist li {
    display: flex;
    flex-grow: 1;
}
.catelist li a {
    width: 100%;
    color: rgb(0 0 0 / 73%);
}
.catelist li a:hover {
    color: var(--bttextcolor);
}
.catelist:hover i {
    color: var(--bttextcolor);
}

/*标签*/
.tags {
    padding: 16px;
}
.tags ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.tags ul li {
    margin: 4px;
}

.totop {
    padding: 11px;
    position: fixed;
    border-radius: 50px;
    cursor: pointer;
    right: 25px;
    bottom: 25px;
    display: none;
}
/*无内容样式*/
.nothings {
    height: calc(100vh - 450px);
    padding: 16px;
    background: url(../images/nothing.svg) no-repeat;
    background-position: center center;
}