<th:block th:fragment="postList"> 

    <div class="post-list" id="pload">
        <th:block th:each="post : ${posts.items}">
            <article class="mdui-card post-item wow animate__fadeIn animate__animated animate__slow">
                <div class="post-list-main">
                    
                    <th:block th:if="${post.spec.pinned} or ${not #lists.isEmpty(post.categories)}") >
                        <div class="post-list-top mdui-card-primary-subtitle">
                            <th:block th:if="${post.spec.pinned}">
                                <span class="topped">置顶</span>
                            </th:block>
                            <a
                            th:if="${#lists.size(post.categories)} gt 0"
                            th:href="@{${post.categories[0].status.permalink}}"
                            th:title="${post.categories[0].spec.displayName}"
                            th:text="${post.categories[0].spec.displayName}"
                            >
                            </a>
                        </div>
                    </th:block>
                    <a th:href="${post.status.permalink}" class="post-list-content">
                        <div class="post-l-left">
                            <div class="post-list-title" th:text="${post.spec.title}"></div>
                            <div class="post-list-summary" th:text="${post.status.excerpt}"></div>
                        </div>
                        
                        <th:block th:if="${not #strings.isEmpty(post.spec.cover)}">
                            <div class="post-l-right">
                                <img class="post-list-thumbnail lazyloadImg" th:data-src="${post.spec.cover}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" />
                            </div>
                        </th:block>
                    </a>
                </div>

                <div class="post-list-bottom">
                    <div class="plbl">
                        <div class="mdui-card-primary-subtitle plbfc"><i class="mdui-icon material-icons">today</i><th:block th:text="${'发布于 '+#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"></div>
                    </div>
                    <div class="mdui-card-primary-subtitle plbfc"><i class="mdui-icon material-icons">chat_bubble_outline</i><th:block th:text="${post.stats.comment == null ? '0条评论':post.stats.comment + '条评论'}"></th:block></div>
                </div>
            </article>
        </th:block>
    </div>
        
    <th:block th:if="${posts.total le 0}">
        <div class="my-card nothing-layout">
            <div class="nothings">
                <img th:src="@{/assets/images/nothing.svg}" alt="">
                <p>空空如也</p>
            </div>
        </div>
    </th:block>
    

</th:block>