<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(head = null,content = ~{::content},pageType = 'categories')}"
>
  <th:block th:fragment="content">
    <main class="my-container mdui-container">
        <div class="animate__animated post_animate">
            <article class="my-article my-card">
                <!-- 分类部分 -->
                <div class="categories">
                    <!-- 页面标题 -->
                    <h3 class="pagetitle">分类</h3>
                    <!-- 分类列表 -->
                    <ul>
                        <div class="catelist" th:each="category : ${categories}">
                            <i class="mdui-icon material-icons">folder_open</i>
                            <li><a th:href="@{${category.status.permalink}}" th:text="${category.spec.displayName + '（' + category.status.postCount + '）'}"></a></li>
                        </div> 
                    </ul>
                </div>
            </article>
        </div>  
    </main>
  </th:block>
</html>